
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
      <span class="navbar-brand">Developed By Mohamad Hammoud</span>
      <i class="fab fa-whatsapp navbar-brand" >+961 76186566</i>
    

  </div>
</nav>


<section id="whatEver">
  <div class="container text-center">
      <div class="card text-light bg-info">
          <div class="card-body text-center">
              <select [(ngModel)]="selectedCountry" (change)="setSelectedCountry(selectedCountry)" name="select" id="select" class="form-control mb-3">
                <option>All Countries</option>
                <option *ngFor="let country of countries">{{country.name}}</option>
              </select>
              <ul class="list-group text-dark">
                <li class="list-group-item" *ngFor="let number of selectedCountryArray" >{{number}}</li>
              </ul>
          </div>
      </div>
  </div>
</section>
